@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "vendor/bootswatch/materia-variables";
@import "vendor/bootswatch/materia";

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* navbar */
.navbar {
  .navbar-nav>li>a {
    padding: 7px 10px;
    text-align: center;
  }

  @media (max-width: 767px){
    .navbar-nav>li>a {
      padding: 0px 7px;
      text-align: left;
    }
  }

  .navbar-nav>li>a>i {
    font-size: 1.4em;
  }

  /* Mobile styles */
  .navbar-collapse.collapsing, 
  .navbar-collapse.in {
    text-align: center;
  }
}

