*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
df
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
settings/dev.py
settings/prod.py
package-lock.json
*.sqlite3
*.sqlite
.gitattributes
migrations/
migrations*/
/local/
/env/
/bin/
.vs/
obj/
seeds/wsgi.py
manage.py
/scripts/
