{% extends "layout.html" %}

{% block title %}{{ person }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <a class="btn btn-default float-right" href="{% url 'person_update' person.slug %}">Edit</a>
    <a class="btn btn-primary float-right mr-3" href="{% url 'conversation_create' %}?person={{ person.slug }}"><i class="fas fa-comment-lines"></i> New conversation</a>
    <h1>{{ person }}</h1>
  </div>
  <div class="col-sm-6 col-md-4">
    <h4>Details</h4>
    <p><b>City:</b> {{ person.city|default:'Unknown' }}</p>
    {% if person.partner %}
      <p><b>Partner:</b> <a href="{% url 'person_detail' person.partner.slug %}">{{ person.partner }}</a></p>
    {% endif %}
    {% if person.known_via %}
      <p><b>Known via:</b> <a href="{% url 'person_detail' person.known_via.slug %}">{{ person.known_via }}</a></p>
    {% endif %}
    {% if person.company %}
      <p><b>Company:</b> {{ person.company }}</p>
    {% endif %}
    {% if person.birthday %}
      <p><b>Birthday:</b> {{ person.birthday|date:'F d' }}</p>
    {% endif %}
    {% if person.address %}
      <div><b>Address</b> {{ person.address|linebreaks }}</div>
    {% endif %}
    {% for sector in person.sectors.all %}
      <a class="btn btn-secondary btn-outline" 
        href="{% url 'people_list' %}?sector={{ sector.slug }}">
        {{ sector }}
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-6 col-md-3">
    <h4>Notes</h4>
    {{ person.notes|default:'Nothing yet.' }}
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Conversations</h5>
        <ul class="list-group list-group-flush">
          {% for conversation in person.conversations.all|slice:":5" %}
            {% if forloop.counter < 5 %}
              <li class="list-group-item">
                {% if conversation.seed %}
                  <i class="fas fa-seedling text-success"></i>
                {% elif conversation.mode == 'one on one' %}
                  <i class="far fa-fw fa-user-friends"></i>
                {% elif conversation.mode == 'in person' %}
                  <i class="far fa-fw fa-users"></i>
                {% elif conversation.mode == 'skype' %}
                  <i class="far fa-fw fa-skype"></i>
                {% elif conversation.mode == 'phone' %}
                  <i class="far fa-fw fa-phone"></i>
                {% elif conversation.mode == 'email' %}
                  <i class="far fa-fw fa-envelope"></i>
                {% elif conversation.mode == 'text' %}
                  <i class="far fa-fw fa-mobile-alt"></i>
                {% endif %}
                <b>{{ conversation.date|date:'n/j' }}</b> - {{ conversation.summary }}
                <a href="{% url 'conversation_detail' conversation.pk %}" class="float-right">
                  <i class="fas fa-comment-lines"></i>
                </a>
              </li>
            {% else %}
              <a class="btn btn-primary btn-block" 
                href="{% url 'conversation_list' %}?person={{ person.slug }}">
                See all conversations</a>
            {% endif %}
          {% empty %}
            <li class="list-group-item">No recorded conversations.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
