{% extends "layout-wide.html" %}

{% block title %}Home{% endblock %}

{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-12 mb-3">
    <h1>
      <a class="btn btn-outline-info float-right ml-3" href="{% url 'person_create' %}">
        <i class="fas fa-plus"></i> New person
      </a>
      <a class="btn btn-outline-info float-right ml-3" href="{% url 'conversation_create' %}">
        <i class="fas fa-comment-lines"></i> New conversation
      </a>
      Dashboard
    </h1>
  </div>

  <div class="col-12 col-sm-5">
    <a href="{% url 'home' %}?period={% if chart_period == 'week' %}month{% else %}week{% endif %}"
      class="btn btn-sm btn-outline-info float-right" style="z-index: 2">
      {% if chart_period == 'week' %}month{% else %}week{% endif %}ly view</a>
    <div class="chart mb-5" data-period="{{ chart_period }}">
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">
          <a class="btn btn-sm btn-info float-right" href="{% url 'person_list' %}?seeds=on">See all</a>
          Your universe
        </h4>
        <p class="text-muted">People you've had any connection to in the recent past.</p>
        <ul class="list-group list-group-flush">
          <a class="list-group-item hoverable" href="{% url 'person_list' %}?date=quarter">
            <i class="far fa-users mr-1"></i>
            Past quarter: <b>{{ orbit_quarter|intcomma }} people</b>
          </a>
          <a class="list-group-item hoverable" href="{% url 'person_list' %}?date=year">
            <i class="far fa-users mr-1"></i>
            Past year: <b>{{ orbit_year|intcomma }} people</b>
          </a>
          <a class="list-group-item hoverable" href="{% url 'person_list' %}">
            <i class="far fa-users mr-1"></i>
            Past three years: <b>{{ orbit_three_years|intcomma }} people</b>
          </a>
          <a class="list-group-item hoverable" href="{% url 'person_list' %}">
            <i class="far fa-users mr-1"></i>
            Ever: <b>{{ orbit_ever|intcomma }} people</b>
          </a>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="col-12 col-sm-7">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">
          {% if conversation_list %}
            <a class="btn btn-sm btn-info float-right" href="{% url 'conversation_list' %}">See all</a>
          {% endif %}
          Recent conversations
        </h4>
        <ul class="list-group list-group-flush">
          {% for conversation in conversation_list %}
            {% include 'conversations/list-item.html' with show_person=True %}
          {% empty %}
            <p>
              You have not recorded any conversations yet. 
              <a class="btn btn-sm btn-info" href="{% url 'conversation_create' %}">Add your first one!</a>
            </p>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">
          {% if seed_list %}
            <a class="btn btn-sm btn-info float-right" href="{% url 'conversation_list' %}?seeds=on">See all</a>
          {% endif %}
          Recent seeds
        </h4>
        <h5>
          <small class="text-muted">
            A <b>seed</b> is contacting someone to catch up, stay in touch, or set up a conversation.
          </small>
        </h5>
        <ul class="list-group list-group-flush">
          {% for conversation in seed_list %}
            {% include 'conversations/list-item.html' with show_person=True %}
          {% empty %}
            <p>
              You have not recorded any seeds yet.
            </p>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">
          <a class="btn btn-sm btn-info float-right" href="{% url 'person_list' %}?seeds=on">See all</a>
          Newest contacts
        </h4>
        <ul class="list-group list-group-flush">
          {% for person in new_people %}
            {% include 'person/list-item.html' %}
          {% empty %}
            <p>
              You have not added any people in the past month.
            </p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
