<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 px-3">
  <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-seedling"></i> Seeds</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item people">
          <a class="nav-link" href="{% url 'people_list' %}"><i class="fa fa-users"></i> <br>People</a>
        </li>
        <li class="nav-item conversations">
          <a class="nav-link" href="{% url 'conversation_list' %}"><i class="fas fa-comment-lines"></i> <br>Conversations</a>
        </li>
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}"><i class="fas fa-cogs"></i> <br>Admin</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
    
    <ul class="nav navbar-nav navbar-right ml-auto">
    {% if user.is_authenticated %}
      <form id="logoutForm" action="/logout/?next=/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-out"></i> Log off</button>
      </form>
    {% else %}
        <a class="btn btn-info" href="{% url 'login' %}"><i class="fas fa-sign-in"></i> Log in</a>
    {% endif %}
    </ul>
  </div>
</nav>
